*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Minion;
}

@font-face {
  font-family: Minion;
  src: url("./fonts/MinionPro-Medium.woff");
}

@font-face {
  font-family: Milliard;
  src: url("./fonts/milliard_medium_normal.woff");
}

* {
  color: white;
  font-family: Minion;
}

body {
  background-color: #161b22;
  color: white;
}

.coming-soon {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon h1 {
  font-size: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

header a {
  text-decoration: none;
  margin: 0 16px;
  font-weight: 500;
}

.header-title {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  width: 50px;
  filter: invert(1);
}

.main {
  max-width: 1400px;
  width: 86%;
  margin: 0 auto;
}

.intro {
  margin-top: 100px;
}

.intro h6 {
  color: rgba(255, 193, 128, 0.65);
  font-size: 24px;
  margin-bottom: 8px;
}

.intro h2 {
  color: rgba(255, 193, 128, 0.65);
  font-size: 60px;
}

.intro h4 {
  color: #c5c8cc;
  font-size: 30px;
  font-weight: 400;
}

.more-intro {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  max-width: 1100px;
}

.more-intro svg {
  width: 60px;
  min-width: 26px;
  fill: #c5c8cc;
}

.more-intro p {
  margin-left: 16px;
  font-family: Milliard;
  font-size: 18px;
  color: #c5c8cc;
}

.view-start {
  display: flex;
  margin-top: 26px;
}

.view-start button {
  padding: 10px 25px;
  outline: none;
  margin-right: 14px;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-start button:first-child {
  border: 1px solid rgba(255, 193, 128, 0.65);
  color: rgba(255, 193, 128, 0.65);
  background-color: transparent;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.view-start button:first-child:hover {
  transform: scale(1.06);
  background-color: #232b35;
}

.view-start button:last-child {
  border: 1px solid rgba(255, 193, 128, 0.65);
  color: #c5c8cc;
  background-color: rgba(255, 194, 128, 0.468);
  /* background-color: rgba(255, 193, 128, 0.65); */
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.view-start button:last-child:hover {
  transform: scale(1.06);
  background-color: rgba(217, 142, 63, 0.65);
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.socials svg {
  display: block;
  margin-bottom: 14px;
}

.socials hr {
  height: 80px;
  width: 1px;
  border-width: 0;
  background-color: rgb(255, 255, 255);
}

.skills {
  margin-top: 70px;
}

.skills h4 {
  font-size: 20px;
  margin-bottom: 16px;
}

.skills-percent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-percent span {
  color: #5eead4;
}

.skills-wrapper {
  display: flex;
  align-items: center;
}

.skills-inner {
  width: 50%;
}
.skills-inner .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skills-inner .progress .progress-bar {
  height: 0.7rem;
  background-color: rgb(14, 86, 86);
}

.skills-img {
  width: 50%;
  text-align: center;
}

.skills-img img {
  max-width: 380px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .intro h2 {
    font-size: 45px;
  }

  .view-start {
    flex-direction: column;
  }

  .view-start button {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .skills-wrapper {
    flex-direction: column;
  }

  .skills-inner {
    width: 100%;
    margin-bottom: 30px;
  }

  .skills-img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 40px;
  }
}
